{% extends "base.html" %}


{% block title %}

Welcome

{% endblock title %}

{% block content %}
<body class="bg-gray-50 text-gray-800">
  <div class="max-w-4xl mx-auto px-6 py-12">
    <h1 class="text-4xl font-bold text-blue-600 mb-6">Terms & Conditions</h1>
    <p class="mb-4">
      Welcome to School Hub. By accessing or using our platform, you agree to be bound by the terms described below.
    </p>
    <ul class="list-disc pl-6 space-y-2 mb-6">
      <li>You agree not to misuse our services.</li>
      <li>All users must follow applicable laws and guidelines.</li>
      <li>Accounts may be suspended if terms are violated...</li>
    </ul>
    <p>These terms are subject to change. Please review them periodically..</p>
  </div>


{% endblock content %}